<!doctype html>
<html>
<head>
    <title>ACI - Dashboard</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/bower_components/marx/css/marx.min.css">
</head>
<body>
    <main>
    <h1>jimmy. dashboard.</h1>
    <table>
        <thead>
            <tr>
                <th>Repository</th>
                <th>Tracked</th>
                <th>Latest</th>
                <th>Commit Hash</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Repository</td>
                <td>Tracked</td>
                <td>Latest</td>
                <td>Commit Hash</td>
            </tr>
        </tbody>
    </table>
    </main>
</body>
</html>
