<!doctype html>
<html>
<head>
    <title>ACI - Dashboard</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/bower_components/marx/css/marx.min.css">
</head>
<body>
    <main>
    <h1>jimmy. dashboard.</h1>
    <table>
        <thead>
            <tr>
                <th>Repository</th>
                <th>Tracked</th>
                <th>Last Updated</th>
                <th>Track</th>
            </tr>
        </thead>
        <tbody>
            {{range $repo := .Repos}}
            <tr>
                <td><a href="{{ $repo.html_url }}">{{ $repo.name }}</a></td>
                <td>No</td>
                <td>{{ $repo.updated_at}}</td>
                <td><button>Track</button></td>
            </tr>
            {{end}}
        </tbody>
    </table>
    </main>
</body>
</html>
