<!doctype html>
<html>
<head>
    <title>ACI</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/bower_components/marx/css/marx.min.css">
</head>
<body>
    <main>
    <h1>jimmy.</h1>
    <a href="https://github.com/login/oauth/authorize?client_id={{.Client_id}}&redirect_uri=http://localhost:8080/oauth_callback&scope=read:org,user,admin:org_hook,repo&state=REPLACE_THIS_WITH_SOMETHING_XSRF"><button>Login with GitHub</button></a>
    </main>
</body>
</html>
